{# template d'affichage de la liste des charts #}

{% extends "layout.html.twig" %}

{% block body %}
	<header class="page-header">
   		<h1>
   			{{ 'menu.chart'|trans() }}

   			{% if is_granted('ROLE_SCIENTIFIC') %}
   				<div class="pull-right">
   					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#chartChoice">
  						{{ 'chart.newHighchart'|trans() }}
					</button>
				</div>
			{% endif %}
   		</h1>
	</header>

	<table class="table table-striped" id="table">
		<thead>
			<tr>
				{% if is_granted('ROLE_SCIENTIFIC') %}
					<th>{{ 'chart.table.titlecolumn.actions'|trans }}</th>
				{% endif %}
				<th>{{ 'chart.table.titlecolumn.id'|trans }}</th>
				<th>{{ 'chart.table.titlecolumn.name'|trans }}</th>
				<th>{{ 'chart.table.titlecolumn.type'|trans }}</th>
				<th>{{ 'chart.table.titlecolumn.url'|trans }}</th>
			</tr>
		</thead>

		<tbody>
			{% for chart in list_chart %}
                            {% if app.user.id is defined and app.user.id == '1' %} 
				<tr onClick="document.location.href='{{ path('chart_show', {'id': chart.id}) }}'" onmouseover="this.className='info';" onmouseout="this.className='';">
					{% if (is_granted('ROLE_SCIENTIFIC') and (chart.userCre == app.user.id)) or is_granted('ROLE_ADMIN') %}
						<td class="tabletdbtn">
							{# Lien d'edition #}
							<a class="tablebtn btn btn-primary btn-sm" href="{{ path('chart_edit_' ~ chart.typeChart, {'id': chart.id}) }}" title="Edit">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							{# Lien de duplication #}
							<a class="tablebtn btn btn-primary btn-sm" href="{{ path('chart_duplicate', {'id': chart.id}) }}" title="Duplicate" onClick="return confirmeDelete(event, '{{ 'chart.table.duplicate.msgconfirm'|trans({'%nameChart%': chart.nameChart}) }}')">
								<span class="glyphicon glyphicon-duplicate"></span>
							</a>
                                                        {# Lien de suppression avec confirmation #}
                                                                <a 	class="tablebtn btn btn-danger btn-sm" href="{{ path('chart_delete', {'id': chart.id}) }}" title="Delete" onClick="return confirmeDelete(event, '{{ 'chart.table.delete.msgconfirm'|trans({'%nameChart%': chart.nameChart}) }}')">
                                                                        <span class="glyphicon glyphicon-trash"></span>
                                                                </a>                                                            

						</td>
                                        {% elseif is_granted('ROLE_SCIENTIFIC') %}  
                                            	<td class="tabletdbtn">
							{# Lien d'edition #}
							<a class="tablebtn btn btn-primary btn-sm" href="" disabled title="Edit">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							{# Lien de duplication #}
							<a class="tablebtn btn btn-primary btn-sm" href="{{ path('chart_duplicate', {'id': chart.id}) }}" title="Duplicate" onClick="return confirmeDelete(event, '{{ 'chart.table.duplicate.msgconfirm'|trans({'%nameChart%': chart.nameChart}) }}')">
								<span class="glyphicon glyphicon-duplicate"></span>
							</a>
                                                        {# Lien de suppression avec confirmation #}
                                                        <a 	class="tablebtn btn btn-danger btn-sm" href="" disabled title="Delete">
                                                                <span class="glyphicon glyphicon-trash"></span>
                                                        </a>
						</td> 
					{% endif %}

					<td>{{ chart.id }}</td>
					<td>{{ chart.nameChart }}</td>
					<td>
						{% set type = 'chart.table.label.' ~ chart.typeChart %}
						{{ type|trans }}
					</td>
					<td onClick="return selectInput(event, {{ chart.id }})">
						{% set urlIframe =  url('chart_show_iframe', {'id': chart.id, 'width': 800, 'height': 530}) ~ '/{{AttrSpatiaux}}' %}
						{% set urlIframeExt = urlIframe|replace({'wapps.univ-brest.fr' : 'www-iuem.univ-brest.fr'}) %}
						<input 	id="url{{ chart.id }}" type="url" onClick="return selectInput(event, {{ chart.id }});" readonly value="{{ urlIframeExt }}"></input>
					</td>
				</tr>
                            {% else %}
                                    {# autre rôle (non SUPER-ADMIN id=1) Affiche la liste restreinte de données relative à la base de donnees de l'Utilisateur ) #}
                                        <tr onClick="document.location.href='{{ path('chart_show', {'id': chart.id}) }}'" onmouseover="this.className='info';" onmouseout="this.className='';">
                                                {% if (is_granted('ROLE_SCIENTIFIC') and (chart.userCre == app.user.id)) or is_granted('ROLE_ADMIN') %}
                                                        <td class="tabletdbtn">
                                                                {# Lien d'edition #}
                                                                <a class="tablebtn btn btn-primary btn-sm" href="{{ path('chart_edit_' ~ chart.typeChart, {'id': chart.id}) }}" title="Edit">
                                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                                </a>
                                                                {# Lien de duplication #}
                                                                <a class="tablebtn btn btn-primary btn-sm" href="{{ path('chart_duplicate', {'id': chart.id}) }}" title="Duplicate" onClick="return confirmeDelete(event, '{{ 'chart.table.duplicate.msgconfirm'|trans({'%nameChart%': chart.nameChart}) }}')">
                                                                        <span class="glyphicon glyphicon-duplicate"></span>
                                                                </a>
                                                                {# Lien de suppression avec confirmation #}
                                                                        <a 	class="tablebtn btn btn-danger btn-sm" href="{{ path('chart_delete', {'id': chart.id}) }}" title="Delete" onClick="return confirmeDelete(event, '{{ 'chart.table.delete.msgconfirm'|trans({'%nameChart%': chart.nameChart}) }}')">
                                                                                <span class="glyphicon glyphicon-trash"></span>
                                                                        </a>                                                            

                                                        </td>
                                                {% elseif is_granted('ROLE_SCIENTIFIC') %}  
                                                        <td class="tabletdbtn">
                                                                {# Lien d'edition #}
                                                                <a class="tablebtn btn btn-primary btn-sm" href="" disabled title="Edit">
                                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                                </a>
                                                                {# Lien de duplication #}
                                                                <a class="tablebtn btn btn-primary btn-sm" href="{{ path('chart_duplicate', {'id': chart.id}) }}" title="Duplicate" onClick="return confirmeDelete(event, '{{ 'chart.table.duplicate.msgconfirm'|trans({'%nameChart%': chart.nameChart}) }}')">
                                                                        <span class="glyphicon glyphicon-duplicate"></span>
                                                                </a>
                                                                {# Lien de suppression avec confirmation #}
                                                                <a 	class="tablebtn btn btn-danger btn-sm" href="" disabled title="Delete">
                                                                        <span class="glyphicon glyphicon-trash"></span>
                                                                </a>
                                                        </td> 
                                                {% endif %}

                                                <td>{{ chart.id }}</td>
                                                <td>{{ chart.nameChart }}</td>
                                                <td>
                                                        {% set type = 'chart.table.label.' ~ chart.typeChart %}
                                                        {{ type|trans }}
                                                </td>
                                                <td onClick="return selectInput(event, {{ chart.id }})">
                                                        {% set urlIframe =  url('chart_show_iframe', {'id': chart.id, 'width': 800, 'height': 530}) ~ '/{{AttrSpatiaux}}' %}
                                                        {% set urlIframeExt = urlIframe|replace({'wapps.univ-brest.fr' : 'www-iuem.univ-brest.fr'}) %}
                                                        <input 	id="url{{ chart.id }}" type="url" onClick="return selectInput(event, {{ chart.id }});" readonly value="{{ urlIframeExt }}"></input>
                                                </td>
                                        </tr>                              
                            {% endif %}
			{% endfor %}
		</tbody>
	</table>

	<div class="modal fade" id="chartChoice" tabindex="-1" role="dialog" aria-labelledby="chartChoiceLabel">
  		<div class="modal-dialog" role="document">
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        				<span aria-hidden="true">&times;</span>
        			</button>
        			<h4 class="modal-title" id="chartChoiceLabel">{{ 'modal.title'|trans }}</h4>
      			</div>
      			<div class="modal-body">
					
        			<div class="row">
  						<div class="col-xs-6 col-md-4 modalBodyText">
    						<a href="#" onClick="newChart('simplechart')" class="thumbnail">
      							<img src="{{ asset('img/SimpleChart.png') }}">
    						</a>
    						{{ 'modal.chart'|trans }}
  						</div>
  						<div class="col-xs-6 col-md-4 modalBodyText">
    						<a href="#" onClick="newChart('timechart')" class="thumbnail">
      							<img src="{{ asset('img/time_chart.png') }}">
    						</a>
    						{{ 'modal.timechart'|trans }}
  						</div>
  						<div class="col-xs-6 col-md-4 modalBodyText">
    						<a href="#" onClick="newChart('multiaxistimechart')" class="thumbnail">
      							<img src="{{ asset('img/multiaxis_time_chart.png') }}">
    						</a>
    						{{ 'modal.multiaxistimechart'|trans }}
  						</div>
					</div>
					
					<div class="row">
						<div class="col-xs-6 col-md-4 modalBodyText">
    						<a href="#" onClick="newChart('dynamicchart')" class="thumbnail">
      							<img src="{{ asset('img/DynamicChart.png') }}">
    						</a>
    						{{ 'modal.dynamicchart'|trans }}
  						</div>
  						<div class="col-xs-6 col-md-4 modalBodyText">
    						<a href="#" onClick="newChart('timedynamicchart')" class="thumbnail">
      							<img src="{{ asset('img/TimeDynamicChart.png') }}">
    						</a>
    						{{ 'modal.timedynamicchart'|trans }}
  						</div>
						<div class="col-xs-6 col-md-4 modalBodyText">
    						<a href="#" onClick="newChart('polarchart')" class="thumbnail">
      							<img src="{{ asset('img/polar_chart.png') }}">
    						</a>
    						{{ 'modal.polarchart'|trans }}
  						</div>
  					</div>
  					
  					<div class="row">
  						<div class="col-xs-6 col-md-4 modalBodyText">
    						<a href="#" onClick="newChart('piechart')" class="thumbnail">
      							<img src="{{ asset('img/PieChart.png') }}">
    						</a>
    						{{ 'modal.piechart'|trans }}
  						</div>
  						<div class="col-xs-6 col-md-4 modalBodyText">
    						<a href="#" onClick="newChart('heatmapchart')" class="thumbnail">
      							<img src="{{ asset('img/heatmap.png') }}">
    						</a>
    						{{ 'modal.heatmapchart'|trans }}
  						</div>
					</div>
					
      			</div>
    		</div>
  		</div>
	</div>
{% endblock body %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">
		/* 	Constantes et fonctions sur les rôles et user_id
		*/            
                const urlParams = new URLSearchParams(window.location.search);
                {% if app.user.id is defined %}
                    const current_user_id = {{app.user.id}}
                {% else %}
                    const current_user_id = 0
                {% endif %}
                const is_granted = {
                    ROLE_SCIENTIFIC : {{is_granted("ROLE_SCIENTIFIC")|json_encode()}},
                    ROLE_SCIENTIFIC_PLUS: {{is_granted("ROLE_SCIENTIFIC_PLUS")|json_encode()}}
                }

                function is_owner(row){
                    return current_user_id == row.user_cre
                }
		/* 	Evènement au click sur l'input de l'url d'un chart,
			si on clique a gauche on copie le lien et a droite on ouvre le lien dans un nouvel onglet
		*/
		$('input[type=url]').on('click', function(e) {
			var inputWidth = $(this).innerWidth();
			var inputOffset = $(this).offset();
			var x = e.pageX - inputOffset.left; 
			
			if (inputWidth/2 > x) {
				document.execCommand("copy");
				toastr.success('{{ 'chart.copy'|trans }}', '', { progressBar: false, timeOut: 500 });
			} else {
				window.open($(this).val());
			}
		});

		$('input[type=url]').on('mousemove', function(e) {
			var inputWidth = $(this).innerWidth();
			var inputOffset = $(this).offset();
			var x = e.pageX - inputOffset.left; 
			
			if (inputWidth/2 > x) {
				$(this).css('cursor', 'copy');
			} else {
				$(this).css('cursor', 'alias');
			}
		});

		function newChart(type) {
			switch (type) {
				case 'simplechart':
					window.location.replace('{{ path('chart_registration_simplechart') }}');
					break;
				case 'timechart':
					window.location.replace('{{ path('chart_registration_timechart') }}');
					break;
				case 'multiaxistimechart':
					window.location.replace('{{ path('chart_registration_multiaxistimechart') }}');
					break;
				case 'dynamicchart':
					window.location.replace('{{ path('chart_registration_dynamicchart') }}');
					break;
				case 'timedynamicchart':
					window.location.replace('{{ path('chart_registration_timedynamicchart') }}');
					break;
				case 'polarchart':
					window.location.replace('{{ path('chart_registration_polarchart') }}');
					break;
				case 'piechart':
					window.location.replace('{{ path('chart_registration_piechart') }}');	
					break;
				case 'heatmapchart':
					window.location.replace('{{ path('chart_registration_heatmapchart') }}');	
					break;	
				default:
					window.location.replace('{{ path('chart_registration_simplechart') }}');
					break;
			}
		}
	</script>
{% endblock %}
