{# template d'affichage d'un utilisateur #}

{% extends "layout.html.twig" %}

{% block body %}
	<header class="page-header">
   		<h1>
   			{{ user.username|capitalize }}

   			{% if is_granted('ROLE_ADMIN') and app.user.id == 1 %}
				<div class="pull-right">
					<a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}" title="Profile">{{ 'user.edit'|trans }}</a>
				</div>
			{% endif %}
   		</h1>
	</header>

	<table class="table table-striped">
		<tbody>
			<tr>
				<td>{{ 'userlist.table.titlecolumn.id'|trans() }}</td>
				<td>{{ user.id }}</td>
			</tr>
			<tr>
				<td>{{ 'userlist.table.titlecolumn.username'|trans() }}</td>
				<td>{{ user.username }}</td>										
			</tr>
			<tr>
				<td>{{ 'userlist.table.label.email'|trans() }}</td>
				<td>{{ user.email }}</td>
			</tr>
			<tr>
				<td>{{ 'userlist.table.titlecolumn.roles'|trans() }}</td>
				<td>{{ user.roles[0] }}</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
